.container-page {
	padding: 80px 0;
}
.hero-unit {
	position: relative;
	padding-left: 350px;
	min-height: 138px;
	background: #EEE url(../img/shepherd.png) no-repeat 50px 25px;
}
.hero-unit h1 {
	margin-top: 0;
}
.hero-unit .bubble {
	position: absolute;
	width: 100px;
	text-align: center;
}
.hero-unit .bubble-first {
	left: 28px;
	top: 10px;
}
.hero-unit .bubble-second {
	left: 95px;
	top: 26px;
}
.hero-unit .btn-large {
	padding: 10px 24px;
}
.well-large {
	font-size: 24px;
	line-height: 30px;
}